<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Server" type="GoApplicationRunConfiguration" factoryName="Go Application">
    <module name="TitanLiftBackEnd" />
    <working_directory value="$PROJECT_DIR$" />
    <parameters value="configs/config.toml" />
    <kind value="PACKAGE" />
    <package value="titan-lift/internal" />
    <directory value="$PROJECT_DIR$" />
    <filePath value="$PROJECT_DIR$/internal/main.go" />
    <method v="2" />
  </configuration>
</component>